
/* @import "compass/css3"; */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
.skills_animation:hover span{
  display: none; 
}
canvas {
 cursor: crosshair;
  
}

#info {
    font-family: 'Georgia', cursive;
  font-size: 40px;
 position: fixed; 
  top: 50%;
  left: 50%;
  color: #000;
}


/* SKILLS old*/
.skills_content-title p{
    display: inline-block;
    font-size: medium;
}
.skills_content{
  width:50%;
}
.skills_visual{
  width:40%;
}

.skill-progress{
  margin: 20px auto;
}
.skill-progress h4{
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 3s steps(50, end),
    blink-caret .75s step-end infinite;
}
.progress{
  margin-top:15px;
  height:2px;
  width:100%;
  background-color: #aba1a14d;
}
.progress-bar{
  height:2px;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 3s steps(50)
}
  