
canvas {
 cursor: crosshair;
}
#info {
    font-family: 'Georgia', cursive;
  font-size: 40px;
 position: fixed; 
  top: 50%;
  left: 65%;
  color: #000;
}
.Skills_content-title, .title-ext{
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.skills_animation{
  overflow: hidden;
  background: aliceblue;
  height: 90vh;
  border-radius: 30px;
  box-shadow: 7px 1px 4px 1px #797c7e;
}
.section_inner{
  margin: 0 auto;
}