@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");
/* General Styling */
@font-face {
  font-family: 'headerFont';
  src: url("./assets/fonts/RubikMoonrocks-Regular.otf");
}
@font-face {
font-family: 'mainFont';
src: url("./assets/fonts/Ubuntu-Regular.otf");
}
@font-face{
font-family: 'tailFont';
  src: url("./assets/fonts/GrapeNuts-Regular.otf");
}
:root {
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
  
}

body {
  color: var(--light);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  height: 200vh;
  color: var(--dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
img{
  height:100%;
  width:100%;
}
.pageContainer{
  display: flex;
  position: fixed;
  width: 100%;
  height:100vh;
  background-image: linear-gradient(to right top, #000000, #332022, #623a38, #925949, #c07d56, #cc9659, #d3b15f, #d3cd6d, #b6dc84, #98e9a4, #78f3ca, #5ffbf1);
  align-items: center;
}
.left-portion,.right-portion{
  width:50%;
}
.left-top, .left-bottom{
  height:50vh;
}
.section_outer{
  width:90%;
  margin:0 auto;
  padding-top:25px;
}
.section_inner{
  width:90%;
  display:flex;
  justify-content:space-between;
  margin:0 auto;
}
.tags{
  font-family: 'tailFont';  
  padding:5px;
}
.btn{
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor:pointer;
  border:0;
  margin-top: 25px;
}
.btn span {
  letter-spacing: 2px;
}
.section-title{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.section-title p{
  display: inline-block;
  font-size: medium;
  line-height: 1;
}
.section-flex{
  display: flex;
  align-items:center;
}