
.projects_content::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
    border-radius: 20px;
}
.projects_content::-webkit-scrollbar-thumb {
	background-color: #000000;
    border-radius: 20px;
    overflow: hidden;
    
}
section.projects{
    
}
.projects_inner{
    height:90vh;
}
.projects_content{
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-radius: 25px;
    /* border-bottom-left-radius: 25px;
    border-top-left-radius: 25px; */
}
.projects_content .card_container:first-child{
    margin-top: 0;
}
.projects_content .card_container:last-child{
    margin-bottom: 0;
}