
.projects_content::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
    border-radius: 20px;
}
.projects_content::-webkit-scrollbar-thumb {
	background-color: #000000;
    border-radius: 20px;
    
}
.projects_content{
    height:90vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.card_container{
    transform: translateX(-120%);
}